@page
@model MyApp.Namespace.indextwoModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your trusted partner for Alberta based website design and development. Get started today without breaking the bank!">
    <meta property="og:image" content="https://kansasridgewebdesign.ca/images/og_image.png">
    <meta property="og:url" content="https://kansasridgewebdesign.ca">
    <meta property="og:description" content="Your trusted partner for Alberta based website design and development. Get started today without breaking the bank!">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Alberta Based Web Design + Development">
    <link rel="icon" href="images/icon.webp">
    <link rel="stylesheet" href="../styles/styles.css">
   

    
    <title>Alberta Based Web Design + Development</title>
</head>

<body>
    <h1>HELLO</h1>
</body>