@page
@model MyApp.Namespace.indextwoModel //this is used in the C# file to associate with the class

@{
    Layout = null;
}

@*We are currently using the _Layout.cshtml as our basic layout, we could make 
our own with headers/navigation using @layout layoutFilename.cshtml or change it to null ^ *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your trusted partner for Alberta based website design and development. Get started today without breaking the bank!">
    <meta property="og:image" content="https://kansasridgewebdesign.ca/images/og_image.png">
    <meta property="og:url" content="https://kansasridgewebdesign.ca">
    <meta property="og:description" content="Your trusted partner for Alberta based website design and development. Get started today without breaking the bank!">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Alberta Based Web Design + Development">
    <link rel="icon" href="images/icon.webp">
    <link rel="stylesheet" href="../styles/styles.css">
   

    
    <title>Alberta Based Web Design + Development</title>
</head>

<body>
    <h1>HELLO</h1>

    <form method="post"  class="indexForm">
        @* Make sure the input names match the request form *@
        <input  placeholder="E-mail Address" type="email" name="email"/> 
        <input  placeholder="Password" type="password" name="password"/>
          
        
        <button type="submit" class="coldBorder">Submit Form</button>  
    </form>

</body>